.form__control {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1rem auto;
  align-items: center;
}

#upload-form label, #upload-form small{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.32px;
  font-size: 0.875rem;
}
#fileInput {
  display: none;
}

#drop_zone {
  border: 2px dashed var(--lake);
  height: 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#drop_zone.highlight {
  border: 2px solid var(--lake);
  background: rgba(#0b6683, 0.25);
  input#fileInput {
    background-color: var(--lake);
    color: white;
  }
}