/* ==========================================================================
   Global Styles
   ========================================================================== */
html {
  font-size: var(--root-font-size);
}
body {
  font-family: var(--base-font-family);
  color: var(--lake);
  margin: 0;
  padding: 0;
  background: var(--khaki);
  height: 100%;
  height: 100vh;
  max-width: 100vw;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input {
  color: var(--lake);
  margin: 0;
  font-family: var(--base-font-family);
}

.hidden {
  display: none;
}
